:host ::ng-deep {
  .table-header {
    display: flex;
    justify-content: space-between;
  }

  .notRecord {
    font-weight: 700;
    background-color: rgba(197, 14, 14, 0.15) !important;
  }

  .editRecord {
    font-weight: 700;
    background-color: rgba(80, 245, 39, 0.8) !important;
  }

  .p-datatable.p-datatable-company {
    .p-datatable-header {
      padding: 1rem;
      text-align: left;
      font-size: 1.5rem;
    }

    .p-datatable-thead > tr > th {
      text-align: left;
      padding: 0.8rem 0.1rem;
    }

    .p-datatable-tbody > tr > td {
      cursor: auto;
      text-align: left;
      padding: 0.1rem 0.1rem;
    }

    .p-datatable-tfoot > tr > td {
      text-align: left;
      padding: 0.1rem 0.1rem;
      font-weight: 600;
      color: #495057;
      background: #f8f9fa;
    }

    .p-component {
      box-sizing: border-box;
    }


    /*paginator*/
    .p-paginator {
      border: 0 none;
      padding: 1px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-wrap: wrap;
      height: 46px;

      .p-dropdown {
        float: left;

        .p-dropdown-panel {
          ul {
            p-dropdownItem:last-child > li {
              &:last-child {
                span::before {
                  content: 'All';
                  visibility: visible;
                }

                span::after {
                  content: '';
                }

                span {
                  visibility: hidden;
                }
              }
            }
          }
        }
      }

      .p-paginator-current {
        float: right;
      }
    }

    /*paginator*/
  }

  /* Responsive */
  .p-datatable-company .p-datatable-tbody > tr > td .p-column-title {
    display: none;
  }
}

