<p-toast></p-toast>

<p-toast (onClose)="onReject()" [baseZIndex]="5000" key="c" position="bottom-center">
  <ng-template let-message pTemplate="message">
    <div class="flex flex-column" style="flex: 1">
      <div class="text-center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
        <h4>{{message.summary}}</h4>
        <p *ngIf="message.data === 'category'">{{selectedCategory.name}} isimli kategori ve bu kategoriye bağlı alt kategorilerde silinecek !</p>
        <p *ngIf="message.data === 'categorySub'">{{selectedCategorySub.name}} isimli alt kategori silinecek !</p>
        <p>{{message.detail}}</p>
      </div>
      <div class="grid p-fluid">
        <div class="col-6" *ngIf="message.data === 'category'">
          <button (click)="deleteCategory()" class="p-button-success" label="Sil" pButton type="button">Kategori sil</button>
        </div>

        <div class="col-6" *ngIf="message.data === 'categorySub'">
          <button (click)="deleteCategorySub()" class="p-button-success" label="Sil" pButton type="button">Alt kategori sil</button>
        </div>

        <div class="col-6">
          <button (click)="onReject()" class="p-button-secondary" label="İptal" pButton type="button"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>


<!--
<p-toast (onClose)="onReject()" [baseZIndex]="5000" key="c" position="bottom-center">
  <ng-template let-message pTemplate="message">
    <div class="flex flex-column" style="flex: 1">
      <div class="text-center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
        <h4>{{message.summary}}</h4>
        <p *ngIf="message.data === 'category'">{{selectedCategory.name}} isimli kategori ve bu kategoriye bağlı alt kategorilerde silinecek !</p>
        <p *ngIf="message.data === 'categorySub'">{{selectedCategorySub.name}} isimli alt kategori silinecek !</p>
        <p>{{message.detail}}</p>
      </div>
      <div class="grid p-fluid">
        <div class="col-6" *ngIf="message.data === 'category'">
          <button (click)="deleteCategory()" class="p-button-success" label="Sil" pButton type="button">Kategori sil</button>
        </div>

        <div class="col-6" *ngIf="message.data === 'categorySub'">
          <button (click)="deleteCategorySub()" class="p-button-success" label="Sil" pButton type="button">Alt kategori sil</button>
        </div>

        <div class="col-6">
          <button (click)="onReject()" class="p-button-secondary" label="İptal" pButton type="button"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>
-->
<p-contextMenu #cmCategory [model]="categoryContextMenu"></p-contextMenu>
<p-contextMenu #cmCategorySub [model]="categorySubContextMenu"></p-contextMenu>

<p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '450px'}">
  <ng-template pTemplate="overlay">
    <p-table #opPanel (onRowSelect)="onRowSelect($event)" [(selection)]="selectedCompany" [paginator]="true"
             [rows]="5" [value]="companies" responsiveLayout="scroll" selectionMode="single">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">Id<p-sortIcon field="id"></p-sortIcon></th>
          <th pSortableColumn="name">Şirket<p-sortIcon field="name"></p-sortIcon></th>
          <th pSortableColumn="companyId">Şirket Kodu<p-sortIcon field="companyId"></p-sortIcon></th>
        </tr>
      </ng-template>
      <ng-template let-rowData pTemplate="body">
        <tr [pSelectableRow]="rowData">
          <td>{{rowData.id}}</td>
          <td>{{rowData.name}}</td>
          <td>{{rowData.businessCode}}</td>
        </tr>
      </ng-template>
    </p-table>
  </ng-template>
</p-overlayPanel>


<div id="id" style="height: calc(100vh - 149px)">
  <p-table #dt
           [(contextMenuSelection)]="selectedCategory"
           [contextMenu]="cmCategory"
           [filterDelay]="0"
           [globalFilterFields]="['name','description','companyId']"
           [loading]="loading"
           [rowHover]="true"
           [rows]="pageSize"
           [scrollable]="true"
           [tableStyle]="{'min-width': '50rem'}"
           [value]="categoryList"
           dataKey="id"
           editMode="row"
           scrollHeight="flex"
           styleClass="p-datatable-company">

    <ng-template pTemplate="caption">
      <div class="table-header">
        <p-button (click)="op.toggle($event)" [label]="selectedCompany ? selectedCompany.name : 'Şirket Seç'" icon="pi pi-search"></p-button>Kategori Listesi<span class="p-input-icon-left"><i class="pi pi-search"></i>
        <input (input)="dt.filterGlobal($any($event.target).value, 'contains')" pInputText placeholder="Genel Arama" type="text"/>
      </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id" style="width:1%"></th>
        <th pSortableColumn="id" style="width:5%">Id<p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="name" style="width:20%">Kategori Adı<p-sortIcon field="name"></p-sortIcon></th>
        <th style="text-align: center; width: 20%"><button [newRow]="newRow()" [table]="dt" autofocus class="p-button-rounded p-button-outlined" icon="pi pi-plus" pAddRow pButton pRipple type="button"></button>
        </th>
      </tr>
    </ng-template>

    <ng-template let-categories
                 let-editing="editing"
                 let-expanded="expanded"
                 let-rowDataCategory
                 let-rowIndex="rowIndex"
                 pTemplate="body">
      <tr [ngClass]="{
          'editRecord': rowDataCategory.id === rowDataCategory.id.toString().indexOf(' '),
          'notRecord': !rowDataCategory.id.toString().indexOf(' ')}"
          [pContextMenuRow]="rowDataCategory"
          [pEditableRow]="rowDataCategory">
        <td>
          <button (click)="selectedCategoryEvent($event, rowDataCategory, rowIndex)"
                  [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                  [pRowToggler]="categories"
                  class="p-button-text p-button-rounded p-button-plain"
                  pButton
                  pRipple
                  type="button"></button>
        </td>
        <td>{{rowDataCategory.id}}</td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input [(ngModel)]="rowDataCategory.name" [autofocus]="true" pAutoFocus pInputText type="text">
            </ng-template>
            <ng-template pTemplate="output">{{rowDataCategory.name}}</ng-template>
          </p-cellEditor>
        </td>
        <td>
          <div class="flex align-items-center justify-content-center gap-2">
            <button (click)="onRowCategoryEditInit(rowDataCategory)" *ngIf="!editing" class="p-button-rounded p-button-text" icon="pi pi-pencil" pButton pInitEditableRow pRipple type="button"></button>
            <button (click)="onRowCategoryEditSave(rowDataCategory, rowIndex)" *ngIf="editing" class="p-button-rounded p-button-text p-button-success mr-2" icon="pi pi-check" pButton pRipple pSaveEditableRow type="button"></button>
            <button (click)="onRowCategoryEditCancel(rowDataCategory, rowIndex)" *ngIf="editing" class="p-button-rounded p-button-text p-button-danger" icon="pi pi-times" pButton pCancelEditableRow pRipple type="button"></button>
           <!-- <button class="p-button-rounded p-button-text p-button-secondary" icon="pi pi-list" pButton pRipple></button> -->
          </div>
        </td>
      </tr>
    </ng-template>


    <ng-template let-categories pTemplate="rowexpansion">
      <td colspan="7">
        <div class="p-p-3">
          <p-table #dtSub
                   [(contextMenuSelection)]="selectedCategorySub"
                   [contextMenu]="cmCategorySub"
                   [rowHover]="true"
                   [scrollable]="true"
                   [value]="categories.categorySubs"
                   dataKey="id"
                   editMode="row"
                   scrollHeight="flex"
                   styleClass="p-datatable-company">

            <ng-template pTemplate="header">
              <tr>
                <th>Id</th>
                <th pSortableColumn="name">Alt Kategori Adı<p-sortIcon field="name"></p-sortIcon></th>
                <th style="text-align: center; width: 20%">
                  <button [newRow]="newRow()" [table]="dtSub" autofocus class="p-button-rounded p-button-outlined" icon="pi pi-plus" pAddRow pButton pRipple type="button">Alt Kategori Ekle</button>
                </th>
              </tr>
            </ng-template>

            <ng-template let-categorySubs let-editing="editing" let-rowData let-rowIndexSub="rowIndex" pTemplate="body">
              <tr
                  [pContextMenuRowIndex]="rowIndexSub"
                  (contextmenu)="selectedCategorySubEvent($event, rowData, rowIndexSub)"
                  [ngClass]="{
                  'editRecord': rowData.id === rowData.id.toString().indexOf(' '),
                  'notRecord': !rowData.id.toString().indexOf(' ')}"
                  [pContextMenuRow]="categoryList[0].categorySubs"
                  [pEditableRow]="rowData">
                <td>{{categorySubs.id}}</td>
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input [(ngModel)]="rowData.name" [autofocus]="true" pAutoFocus pInputText type="text">
                    </ng-template>
                    <ng-template pTemplate="output">{{rowData.name}}</ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <div class="flex align-items-center justify-content-center gap-2">
                    <button (click)="onRowCategorySubEditInit(rowData)" *ngIf="!editing" class="p-button-rounded p-button-text" icon="pi pi-pencil" pButton pInitEditableRow pRipple type="button"></button>
                    <button (click)="onRowCategorySubEditSave(rowData, rowIndexSub)" *ngIf="editing" class="p-button-rounded p-button-text p-button-success mr-2" icon="pi pi-check" pButton pRipple pSaveEditableRow type="button"></button>
                    <button (click)="onRowCategorySubEditCancel(rowData, rowIndexSub)" *ngIf="editing" class="p-button-rounded p-button-text p-button-danger" icon="pi pi-times" pButton pCancelEditableRow pRipple type="button"></button>
                   <!-- <button class="p-button-rounded p-button-text p-button-secondary" icon="pi pi-list" pButton pRipple></button> -->
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="6">Alt kategori bulunamadı</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </td>
    </ng-template>

    <ng-template class="flex justify-content-end flex-wrap" let-ri="rowIndex" pTemplate="footer">
      <tr>
        <td colspan="9">
          <p-paginator
            (onPageChange)="handlePagination($event)"
            [pageLinkSize]="10"
            [rowsPerPageOptions]="['10', '20', '50', '100']"
            [rows]="pageSize"
            [showCurrentPageReport]="true"
            [showPageLinks]="true"
            [totalRecords]="totalRecords"
            currentPageReportTemplate="{first}. sayfa {last} kayıt, Toplam: {totalRecords} kayıt"
            styleClass="p-paginator"
          ></p-paginator>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
