:host ::ng-deep {
  .table-header {
    display: flex;
    justify-content: space-between;
  }

  .notRecord {
    font-weight: 700;
    background-color: rgba(197, 14, 14, 0.15) !important;
  }

  .editRecord {
    font-weight: 700;
    background-color: rgba(80, 245, 39, 0.8) !important;
  }

  .p-datatable.p-datatable-company {
    .p-datatable-header {
      padding: 1rem;
      text-align: left;
      font-size: 1.5rem;
    }

    .p-datatable-thead > tr > th {
      text-align: left;
      padding: 0.8rem 0.1rem;
    }

    .p-datatable-tbody > tr > td {
      cursor:auto;
      text-align: left;
      padding: 0.1rem 0.1rem;
    }

    .p-datatable-tfoot > tr > td {
      text-align: left;
      padding: 0.1rem 0.1rem;
      font-weight: 600;
      color: #495057;
      background: #f8f9fa;
    }

    .p-component{
      box-sizing: border-box;
    }



    /*paginator*/
    .p-paginator {
      border: 0 none;
      padding: 1px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-wrap: wrap;
      height: 46px;
      .p-dropdown {
        float: left;
        .p-dropdown-panel {
          ul {
            p-dropdownItem:last-child > li {
              &:last-child {
                span::before {
                  content: 'All';
                  visibility: visible;
                }

                span::after {
                  content: '';
                }

                span {
                  visibility: hidden;
                }
              }
            }
          }
        }
      }

      .p-paginator-current {
        float: right;
      }
    }
    /*paginator*/
  }

  /* Responsive */
  .p-datatable-company .p-datatable-tbody > tr > td .p-column-title {
    display: none;
  }

  /*Steps */

  .ui-steps .ui-steps-item {
    width: 25%;
  }

  .ui-steps.steps-custom {
    margin-bottom: 30px;
  }

  .ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
    padding: 0 1em;
    overflow: visible;
  }

  .ui-steps.steps-custom .ui-steps-item .ui-steps-number {
    background-color: #0081c2;
    color: #FFFFFF;
    display: inline-block;
    width: 36px;
    border-radius: 50%;
    margin-top: -14px;
    margin-bottom: 10px;
  }

  .ui-steps.steps-custom .ui-steps-item .ui-steps-title {
    color: #555555;
  }

  .p-card .p-card-footer {
    padding: 0 0 0 0;
  }
  .card {
    background: var(--surface-card);
    border: 1px solid var(--surface-border);
    padding: 0.5rem;
    margin-bottom: 2rem;
    box-shadow: var(--card-shadow);
    border-radius: 12px;
  }
  .h-4rem {
    height: 2rem !important;
  }
  .w-10rem {
    width: 6rem !important;
  }

  .p-card .p-card-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    text-align: center;
  }
}

