<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="temp\internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target name="db" xsi:type="Database"
				dbProvider="sqlserver"
				dbHost="${configsetting:item=NlogConnection.DbHost}"
				dbDatabase="${configsetting:item=NlogConnection.Database}"
				dbUserName="${configsetting:item=NlogConnection.User}"
				dbPassword="${configsetting:item=NlogConnection.Password}">

			<commandText>
				insert into dbo.NLog (MachineName, logged, Level, Message, Logger, Properties, CallSite, Exception)
				values (@MachineName, @logged, @Level, @Message, @Logger, @Properties, @Callsite, @Exception);
			</commandText>
			
			<parameter name="@machineName"    layout="${machinename}" />
			<parameter name="@logged"         layout="${date}" />
			<parameter name="@level"          layout="${level}" />
			<parameter name="@message"        layout="${message}" />
			<parameter name="@logger"         layout="${logger}" />
			<parameter name="@properties"     layout="${all-event-properties:separator=|}" />
			<parameter name="@callsite"       layout="${callsite}" />
			<parameter name="@exception"      layout="${exception:tostring}" />
		</target>
	</targets>
	<rules>
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="*" minlevel="Trace" writeTo="db" />
	</rules>
</nlog>

<!--
https://kdrenski.com/wp/using-nlog-and-asp-net-core-3-1-to-log-to-the-database/

<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="temp\internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target name="db"
				xsi:type="Database"
				connectionString="${configsetting:item=ConnectionStrings.NLog}"
				dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
				commandType="StoredProcedure"
				commandText="[dbo].[NLog_AddEntry_p]"
            >
			<parameter name="@machineName"    layout="${machinename}" />
			<parameter name="@logged"         layout="${date}" />
			<parameter name="@level"          layout="${level}" />
			<parameter name="@message"        layout="${message}" />
			<parameter name="@logger"         layout="${logger}" />
			<parameter name="@properties"     layout="${all-event-properties:separator=|}" />
			<parameter name="@callsite"       layout="${callsite}" />
			<parameter name="@exception"      layout="${exception:tostring}" />
		</target>
	</targets>

	<rules>

		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="*" minlevel="Trace" writeTo="db" />
	</rules>
</nlog>


-->