<p-toast></p-toast>
<p-contextMenu #cm [model]="contextMenu"></p-contextMenu>


<div id="id" style="height: calc(100vh - 149px)">
  <p-table #dt
           [value]="inventoryList"
           styleClass="p-datatable-inventory"
           dataKey="id"
           [tableStyle]="{'min-width': '50rem'}"
           [rowHover]="true"
           [rows]="pageSize"
           [loading]="loading"
           [filterDelay]="0"
           [globalFilterFields]="['name','description','businessCode']"
           [scrollable]="true"
           scrollHeight="flex"
           [contextMenu]="cm"
           [(contextMenuSelection)]="selectedCompany">

    <ng-template pTemplate="caption">
      <div class="grid">
        <div class="col">
          <div class="card mb-0" style="padding: 0.3rem">
            <div class="flex justify-content-between mb-0">
              <div>
                <div class="flex flex-wrap flex-column md:flex-row card-container indigo-container">
                  <div class="flex align-items-start justify-content-start m-0">
                    <p-dropdown id="companyId"
                                inputId="selectedCompany"
                                optionLabel="name"
                                placeholder="Şirket"
                                appendTo="body"
                                [filter]="true"
                                filterBy="name"
                                [style]="{'width':'160px'}"
                                [(ngModel)]="selectedCompany"
                                [options]="companies"
                                [showClear]="true"
                                (onChange)="onRowCompanySelect($event)">
                    </p-dropdown>
                  </div>
                  <div class="flex align-items-start justify-content-start m-0">
                    <p-dropdown id="categoryId"
                                inputId="selectedCategory"
                                optionLabel="name"
                                placeholder="Kategori"
                                [filter]="true"
                                filterBy="name"
                                [style]="{'width':'160px'}"
                                [autoDisplayFirst]="false"
                                [(ngModel)]="selectedCategory"
                                [options]="categoryList"
                                [showClear]="true"
                                (onChange)="setDataCategory($event)">
                    </p-dropdown>
                  </div>
                  <div class="flex align-items-start justify-content-start m-0">
                    <p-dropdown id="brandId"
                                inputId="selectedBrand"
                                optionLabel="name"
                                placeholder="Marka"
                                appendTo="body"
                                [filter]="true"
                                filterBy="name"
                                [style]="{'width':'160px'}"
                                [showClear]="true"
                                [(ngModel)]="selectedBrand"
                                [options]="brandList"
                                (onChange)="setDataBrand($event)">
                    </p-dropdown>
                  </div>
                  <div class="flex align-items-start justify-content-start m-0">
                    <p-inputNumber id="barcodeName"
                                   inputId="withoutgrouping"
                                   mode="decimal"
                                   [(ngModel)]="selectedBarcode"
                                   [maxlength]="15"
                                   [useGrouping]="false"
                                   placeholder="Barkod">
                    </p-inputNumber>
                  </div>
                  <div class="flex align-items-start justify-content-start m-0">
                    <input id="deviceName" type="text" [style]="{'width':'199px'}" pInputText [(ngModel)]="selectedName" placeholder="Cihaz adı">
                  </div>
                  <div class="flex align-items-start justify-content-start m-0">
                    <input id="responsible" type="text" [style]="{'width':'199px'}" pInputText [(ngModel)]="selectedResponsible" placeholder="Kullanıcı">
                  </div>
                </div>
              </div>
              <div class="flex align-items-center justify-content-center " [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                <button pButton pRipple type="button" icon="pi pi-search" class="p-button-rounded p-button-success p-button-outlined" (click)="searchInventory()"></button>
              </div>
            </div>
            <div>
              <div class="flex flex-wrap flex-column md:flex-row card-container indigo-container">
                <div class="flex align-items-start justify-content-start m-0">
                  <p-dropdown id="status"
                              appendTo="body"
                              inputId="selectedStatus"
                              optionLabel="statusId"
                              placeholder="Durum"
                              [filter]="true"
                              filterBy="name"
                              [style]="{'width':'160px'}"
                              [(ngModel)]="selectedStatus"
                              [autoDisplayFirst]="false">
                  </p-dropdown>
                </div>
                <div class="flex align-items-start justify-content-start m-0">
                  <p-dropdown id="categorySubId"
                              inputId="selectedCompanySub"
                              optionLabel="name"
                              placeholder="Alt kategori"
                              appendTo="body"
                              [filter]="true"
                              filterBy="name"
                              [style]="{'width':'160px'}"
                              [showClear]="true"
                              [(ngModel)]="selectedCategorySubs"
                              [options]="categorySubsList"
                              (onChange)="setDataCategorySub($event)">
                  </p-dropdown>
                </div>
                <div class="flex align-items-start justify-content-start m-0">
                  <p-dropdown id="modelId"
                              inputId="selectedModel"
                              optionLabel="name"
                              placeholder="Model"
                              appendTo="body"
                              [filter]="true"
                              filterBy="name"
                              [style]="{'width':'160px'}"
                              [showClear]="true"
                              [(ngModel)]="selectedModel"
                              [options]="modelsList"
                              (onChange)="setDataModel($event)">
                  </p-dropdown>
                </div>
                <div class="flex align-items-start justify-content-start m-0">
                  <input id="serialNumber" type="text" [style]="{'width':'199px'}" pInputText [(ngModel)]="selectedSerialNumber" placeholder="Seri Numarası">
                </div>
                <div class="flex align-items-start justify-content-start m-0">
                  <input id="imei" type="text" [style]="{'width':'199px'}" pInputText [(ngModel)]="selectedImei" placeholder="Imei">
                </div>
                <div class="flex align-items-start justify-content-start m-0">
                  <input id="mac" type="text" [style]="{'width':'199px'}" pInputText [(ngModel)]="selectedMac" placeholder="Mac">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id" style="width:1%"></th>
        <th pSortableColumn="id" style="width:5%">Id</th>
        <th pSortableColumn="name" style="width:10%">Barkod Numarası<p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="name" style="width:20%">Cihaz Adı<p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="name" style="width:20%">Kullanıcı<p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="name" style="width:20%">Seri Numarası<p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="name" style="width:20%">Imei<p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="name" style="width:20%">Mac<p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="name" style="width:20%">Durum<p-sortIcon field="name"></p-sortIcon></th>
        <th style="text-align: center; width: 50%"></th>
      </tr>
    </ng-template>

    <ng-template let-inventories let-rowDataInventory let-rowIndex="rowIndex" pTemplate="body">
      <tr [pContextMenuRow]="rowDataInventory">
        <td></td>
        <td>{{rowDataInventory.id}}</td>
        <td>{{rowDataInventory.barcode}}</td>
        <td>{{rowDataInventory.name}}</td>
        <td>{{rowDataInventory.responsible}}</td>
        <td>{{rowDataInventory.serialNumber}}</td>
        <td>{{rowDataInventory.imei}}</td>
        <td>{{rowDataInventory.mac}}</td>
        <td>{{rowDataInventory.status}}</td>
        <td>
          <div class="flex align-items-center justify-content-center gap-2">
            <button (click)="onDetailInventory(rowDataInventory)" class="p-button-rounded p-button-text" icon="pi pi-book" pButton pRipple type="button"></button>
            <!-- <button class="p-button-rounded p-button-text p-button-secondary" icon="pi pi-list" pButton pRipple></button> -->
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template class="flex justify-content-end flex-wrap" let-ri="rowIndex" pTemplate="footer">
      <tr>
        <td colspan="9">
          <p-paginator
            [pageLinkSize]="10"
            [rowsPerPageOptions]="['10', '20', '50', '100']"
            [rows]="pageSize"
            [showCurrentPageReport]="true"
            [showPageLinks]="true"
            [totalRecords]="totalRecords"
            currentPageReportTemplate="{first}. sayfa {last} kayıt, Toplam: {totalRecords} kayıt"
            styleClass="p-paginator"
          ></p-paginator>
        </td>
      </tr>
    </ng-template>

  </p-table>
</div>

